body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #04091e;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.moon {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 150px;
    height: 150px;
    background-color: #d9d9d9;
    border-radius: 50%;
    animation: moveMoon 10s infinite alternate;
}

.star {
    position: absolute;
    background-color: #f3f3f3;
    border-radius: 50%;
    animation: twinkling 2s infinite alternate;
}

.star1 {
    top: 20%;
    left: 10%;
    width: 5px;
    height: 5px;
}

.star2 {
    top: 50%;
    left: 15%;
    width: 7px;
    height: 7px;
}

.star3 {
    top: 70%;
    left: 5%;
    width: 8px;
    height: 8px;
}

.star4 {
    top: 40%;
    left: 70%;
    width: 6px;
    height: 6px;
}

.star5 {
    top: 70%;
    left: 85%;
    width: 4px;
    height: 4px;
}
.star6 {
    top: 30% ;
    left: 10%;
    width: 9px;
    height: 9px;
}
.star7 {
    top: 50%;
    left: 20%;
    width: 5px;
    height: 6px;
}
.star8 {
    top: 10%;
    left: 50%;
    width: 5px;
    height: 6px;
}
.star9 {
    top:11%;
    left: 90%;
    width: 8px;
    height: 7px;

}
.star10{
    top: 15%;
    left: 64%;
    width: 8px;
    height: 7px;
}

.message {
    text-align: center;
    color: #ffffff;
}
typing-text {
    color: #ffffff;
    font-size: 24px;
    white-space: nowrap; 
    border-right: .15em solid #00ff00; 
    animation: typing 20s steps(40) infinite, blink-caret .75s step-end infinite;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

button,a {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d32f2f;
}

.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #00ff00; 
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: exclusion; 
    z-index: 9999; 
    transform: translate(-50%, -50%);
}
.credit{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #d9d9d9;
    font-size: 10px;
}

.neon {
    position: absolute;
    width: 2px; 
    height: 200px; 
    background-color: #00ff00; 
    pointer-events: none;
    mix-blend-mode: exclusion; 
    z-index: 9998; 
    animation: neonMove 0.1s infinite linear; 
}
.cloud {
    position: absolute;
    width: 200px; 
    height: 200px; 
    background-size: cover; 
    animation: movecloud 150s linear infinite alternate; 
}

.cloud1 {
    background-image: url('images/cloud1.jpg'); 
    top: -15%;
    left:-700px; 
}

.cloud2 {
    background-image: url('images/cloud2.jpg'); 
    top: 10%;
    left: -400px; 
}

.cloud3 {
    background-image: url('images/cloud3.jpg'); 
    top: 30%;
    left: -100px; 
}

.aurora {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Untuk memastikan latar belakang berada di belakang konten */
}

.aurora video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.audio {
    display: none; 
}
.toggle-music {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff; /* warna ikon */
    font-size: 24px; /* ukuran ikon */
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #00ff00;
    }
}

@keyframes auroraAnimation {
0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes movecloud {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(calc(100vw + 200px)); 
    }
}



@keyframes neonMove {
    0% { transform: scaleY(0.2) translateY(-100%); opacity: 0; } 
    50% { transform: scaleY(1) translateY(0); opacity: 1; } 
    100% { transform: scaleY(0.2) translateY(100%); opacity: 0; } 
}

@keyframes moveMoon {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
}

@keyframes twinkling {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
/* Untuk (ponsel) */
@media (max-width: 768px) {
    .moon {
        width: 100px; 
        height: 100px; 
        top: 10%; 
        left: 10%; 
    }
}

/*ukuran tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .moon {
        width: 150px;
        height: 150px; 
        top: 20%; 
        left: 20%;
    }
}
